.wrapper
  .header
    = render 'top-header'
.exhibition 
  .exhibition__container 
    .exhibition__container__sell
      %h2 商品の情報を入力
      %form
        .upload-box
          .upload-box__head
            %h3 出品画像
            %span 必須
          %p 最大10枚までアップロードできます
          .upload-box__input
            %input{:type => "file"}