.wrapper
  .header
    = render 'top-header'
    .header__signup-bar

  .main
    .main__container
      .main__container__head 会員情報登録
      .main__container__content
        .main__container__content__form
          .form-group
            -# ニックネーム
            %label(for="nickname")  ニックネーム
            %span.form-required  必須
            %input.input-form{name: "nickname", placeholder: "例 メルカリ太郎", type: "text", value: ""}
            %ul.error
              %li#nickname-error.error__text
                ニックネームを入力してください
          .form-group
            -# メアド
            %label.form-group__label(for="email")  メールアドレス
            %span.form-required  必須
            %input.input-form{name: "email", placeholder: "PC･携帯どちらでも可", type: "email", value: ""}
            %ul.error
              %li#email-error.error__text
                メールアドレスを入力してください
          .form-group.form-password__revelation
            -# pw
            %label.form-group__label(for="password")  パスワード
            %span.form-required  必須
            %input.input-form{name: "password", placeholder: "7文字以上の半角英数字", type:"password", value: ""}
            %ul.error
              %li#password-error.error__text
                パスワードを入力してください
            %p.form-info-text  *英字と数字の両方を含めてください
            .chackbox-default
              .chack-icon
                =check_box_tag :check1
                =label_tag :check1, "パスワードを表示する"
          .form-group
            %h3.chapter-head 本人確認
            %p.chapter-text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .form-group
            %div
              %label お名前（全角）
              %span.form-required  必須
            .form-group__name
              %input.input-form-half{name: "family_name_kanji",placeholder: "例）目流狩", type:"text", value: ""}
              %input.input-form-half{name: "frist_name_kanji",placeholder: "例）太郎", type:"text", value: ""}
            %ul.error
              %li#famiryname-error.error__text
                姓を入力してください
            %ul.error
              %li#firstname-error.error__text
                名を入力してください
          .form-group
            %div
              %label お名前カナ（全角）
              %span.form-required  必須
            .form-group__name
              %input.input-form-half{name: "family_name_kana", placeholder: "例）メルカリ", type: "text", value: ""}
              %input.input-form-half{name: "frist_name_kana", placeholder: "例）タロウ", type:"text", value: ""}
            %ul.error
              %li#famiryname-error.error__text
                姓カナを入力してください
            %ul.error
              %li#firstname-error.error__text
                名カナを入力してください
          .form-group
            %label 生年月日
            %span.form-required  必須
            .birthday-select
              .select-wrap
                %select.select-default-half{name: "birthday_month"}
                  %option{value: "0"} --
                  %option{value: "1"} 2019
                  %option{value: "2"} 2018
                  %option{value: "3"} 2017
                  %option{value: "4"} 2016
              %span 年
              .select-wrap.select-wrap__month
                %select.select-default-half{name: "birthday_month"}
                  %option{value: "0"} --
                  %option{value: "1"} 2019
                  %option{value: "2"} 2018
                  %option{value: "3"} 2017
                  %option{value: "4"} 2016
              %span 月
              .select-wrap.select-wrap__day
                %select.select-default-half{name: "birthday_month"}
                  %option{value: "0"} --
                  %option{value: "1"} 2019
                  %option{value: "2"} 2018
                  %option{value: "3"} 2017
                  %option{value: "4"} 2016
              %span 日
              %ul.error
                %li#famiryname-error.error__text
                  生年月日を入力してください
          .form-info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります

        .main__container__content__form.low
          .low__content
            %p.low__content__text「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
          %btn.btn-default
            次へ進む
  .top-footer
    = render 'top-footer'