.wrapper
  .header
    = render 'top-header'
    .header__signup-bar

  .main
    .main__container-login
      .main__container-login__head
        %p.main__container-login__head__text
          アカウントをお持ちでない方はこちら
        %p.main__container-login__head__btn
          新規会員登録

      .main__container-login__content
        %p.btn-default.btn-facebook Facebookでログイン
        = fa_icon 'facebook-square', class: 'icon-facebook'
        %p.btn-default.btn-google Googleでログイン
        = fa_icon 'google', class: 'icon-google'

      .main__container-login__form
        .main__container-login__form__inner
          .form-group
            %input.login-input-form{name: "email", placeholder: "メールアドレス", type: "email", value: ""}
            %ul.error
              %li 入力してください
          .form-group
            %input.login-input-form{name: "password", placeholder: "パスワード", type: "password", value: ""}
            %ul.error
              %li 入力してください
              %li 6文字以上128文字以下で入力してください
          .form-group
            .recaptcha


          %btn.btn-default.btn-login
            ログイン
  .top-footer
    = render 'top-footer'

