.main__header
  = render "review/main_header"

%body.mypage
  .container
    = render 'review/side-bar'
    .container__content
      .container__content__section
        .container__content__section__logout
          %button.container__content__section__logout__btn{ title: "" , type: "submit" , }
            ログアウト




.main__exhibit-btn
  = render "review/main_exbit-btn"

= render "review/footer"