.main

  -# ヘッダー
  .main__header
    .main__header__center
      -# upはメルカリロゴと検索窓
      .main__header__center__up
        .main__header__center__up__mercari-logo
          %a
            =image_tag "main_logo.svg" , size:"134x36"
        .main__header__center__up__form
          %input{type:"search" , placeholder: "何かお探しですか？" , class:"main__header__center__up__form__text"}
          .main__header__center__up__form__search-btn
      -# downはカテゴリー、新規会員登録ボタン、ログインボタン
      .main__header__center__down
        .main__header__center__down__left
          .main__header__center__down__left__category-search
            %a
              カテゴリーから探す
          .main__header__center__down__left__bland-search
            %a
              ブランドから探す
        .main__header__center__down__right
          .main__header__center__down__right__member-create-btn
            %a
              新規会員登録
          .main__header__center__down__right__login-btn
            %a
              ログイン

  -# メイン
  .main__contents
    .main__contents__center
      -# 3枚の画像のスライド
      .main__contents__center__image-slyde
        = image_tag "banner-6th-thanks.jpg"
        -# = image_tag "banner-natsukashi.jpg"
        -# = image_tag "banner-meisaku.jpg"
      -# 人気カテゴリー
      .main__contents__center__popular-category
        %h1
          人気のカテゴリー
        .main__contents__center__popular-category__tag
          %ul
            %li<
              %a レディース
            %li<
              %a メンズ
            %li<
              %a 家電・スマホ・カメラ
            %li<
              %a おもちゃ・ホビー・グッズ
      -# (1.レディース,2.メンズ,3.家電・スマホ・カメラ,4.おもちゃ・ホビー・グッズ)新着アイテム
      .main__contents__center__item
        .main__contents__center__item__ladies
          .main__contents__center__item__ladies__title
            %h1
              レディース新着アイテム
            %a
              もっと見る
          .main__contents__center__item__ladies__image
            %ul
              %li<
                %a
                  =image_tag "sample.jpg"
        .main__contents__center__item__mens
        .main__contents__center__item__electricity
        .main__contents__center__item__toy
      -# 人気のブランド
      .main__contents__center__popular-brand
      -# (1.シャネル,2.ルイヴィトン,3.シュプリーム,4.ナイキ)新着アイテム
      .main__contents__center__chanel-item
      .main__contents__center__vuitton-item
      .main__contents__center__supreme-item
      .main__contents__center__nike-item
  
  -# 出品ボタン
  .main__exhibit-btn
  
  -# 脚注や用語の説明など(ここではアプリ版ダウンロード案内)
  .main__aside

  -# フッダー
  .main__footer