.pan{
  
  &__bar{
    position: relative;
    border-top: 1px solid #eee;
    background: #f5f5f5;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    
    &__text{
      width: 1020px;
      margin: 0 auto;
      padding: 16px 0;
      font-size: 14px;
      line-height: 1.2;
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    }
  }
}