.container__content {

  &__section{

    &__logout{
      padding: 64px;
      border-top: 1px solid #f5f5f5;

      &__btn{
        max-width: 320px;
        margin: 0 auto;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        padding: 0;
        text-align: center;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

      }
    }
  }
}