@mixin color() {
    color: rgb(255, 255, 255);
}

@mixin black() {
    color: #333;
}

@mixin icon-gray() {
  color: #ccc;
}

$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;